fint:
  application-id: fint-flyt-history-service
  flyt:
    history-service:
      kafka:
        topic:
          instance-processing-events-retention-time: "4d"
  cache:
    defaultCacheEntryTimeToLiveMillis: 600000
    defaultCacheHeapSize: 1000000
server:
  max-http-request-header-size: 40KB
spring:
  jackson:
    time-zone: UTC
  profiles:
    include:
      - flyt-kafka
      - flyt-logging
      - flyt-resource-server
      - flyt-postgres