fint:
  application-id: fint-flyt-history-service

novari:
  flyt:
    history-service:
      kafka:
        topic:
          instance-processing-events-retention-time: "4d"

server:
  max-http-request-header-size: 40KB

spring:
  jackson:
    time-zone: UTC
  profiles:
    include:
      - flyt-kafka
      - flyt-logging
      - flyt-resource-server
      - flyt-postgres

  output:
    ansi:
      enabled: always
